html, body {
  margin: 0;
  padding:0;
  background: black;
}
.level
{
  padding: 5px;
  margin: 10px auto;
  width: 100px;
  border: 1px solid yellow;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  text-align: center;

}

.badge{
   margin: 10px auto;
  width: 100px;
  background: yellow;

  border: 1px solid yellow;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  text-align: center;
  color: black;
}
#canvas-wrapper {
    width: 600px;
     height:610px;
     margin: 0px auto;
     border: 2px solid rgb(50,50,50);
     display: none;
}

#canvas {
	margin-top:10px;
	padding:0;
	background-color: black;
    display: none;
}

#game {
    font-family : Geo;
    font-size: 20px;
    color : rgb(200,200,100);
    text-align: center;
}

.copyright {
  margin: 0 auto;
  width:200px;
  padding-top: 40px 10;
  background-color: rgb(50,50,50);
}

.splash {
    padding: 20px;
    font-family : Slackey;
    font-size : 60px;
    line-height : 60px;
    margin : 0;
    text-align : center;
    color : rgb(70,120,20);
    text-shadow : 1px 1px 2px rgb(255,255,0),
                  -1px -1px 2px rgb(255,255,0),
                  5px 8px 8px rgb(0,0,0);
}

.startup {
  width: 100%;
  height: 100%;
  background-color: black;
}